body {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
#mapCanvas{
    transform: scaleY(1);
}
#MapOuter {
    cursor: grab;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1f2a32;
    overflow: scroll;
}
#MapZoomer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#Map{
    width: 500%;
    height: 500%;
}
#Zoomer {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 110px;
    width: 40px;
}
#Zoomer .plus, #Zoomer .minus {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #eee;
    color: #1f2a32;
    padding-top: 3px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
    opacity: 0.9;
}
#Zoomer .plus {
    bottom: 50px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
#info {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #1f2a32;
    color: #FFF;
    font-size: 14px;
}
.controls {
    z-index: 1;
    position: absolute;
    top:85px;
    left: 10px;
    background-color: #1f2a32;
    color: #FFF;
}
#factionsDiv {
    z-index: 1;
    position: absolute;
    top: 180px;
    left: 10px;
    color: #FFF;
}
.link{
    text-decoration: underline;
    cursor: pointer;
    color: #ffa500;
}
.bold{
    font-weight: bold;
}
.title{
    background-color: #1f2a32;
    width: 115px;
}

#factions {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #000;
}

#factions td, #factions th {
    border: 1px solid #ddd;
    padding: 8px;
}

#factions tr:nth-child(even){background-color: #f2f2f2;}
#factions tr:nth-child(odd){background-color: #a8a8a8;}
#factions tr:hover {background-color: #ddd;}

#factions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.colorSquare{
    width: 41px;
    height: 14px;
}

#realm{
    font-size: 20px;
}
#realmName{
    color: red;
    font-weight: bold;
}
.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }